dl, dt, dd {
    margin: 0;
    border: 0;
    padding: 0;
}

dl {
    @include include-element-margin($dl-margin-top, $dl-margin-bottom, $dl-margin-left, $dl-margin-right, $dl-margin-for-screens);
}

dt {
    margin: $dt-margin;
    font-weight: bold;
}

dd {
    margin-bottom: $dd-margin;
}
