//DL
$dl-margin-top: $elements-margin-top !default;
$dl-margin-bottom: $elements-margin-bottom !default;
$dl-margin-left: $elements-margin-left !default;
$dl-margin-right: $elements-margin-right !default;
$dl-margin-for-screens: $elements-margin-for-screens !default;
@mixin dl-extra-style() {}

//DT DD
@mixin dt-dd-extra-style() {}

//DT
//Margins
$dt-margin-top: $list-item-elements-margin-top !default;
$dt-margin-bottom: $list-item-elements-margin-bottom !default;
$dt-margin-left: $list-item-elements-margin-left !default;
$dt-margin-right: $list-item-elements-margin-right !default;
$dt-margin-for-screens: $list-item-elements-margin-for-screens !default;
$dt-font-weight: $bold-elements-font-weight;
@mixin dt-extra-style() {}

//DD
//Margins
$dd-margin-top: $list-item-elements-margin-top !default;
$dd-margin-bottom: $list-item-elements-margin-bottom !default;
$dd-margin-left: $list-item-elements-margin-left !default;
$dd-margin-right: $list-item-elements-margin-right !default;
$dd-margin-for-screens: $list-item-elements-margin-for-screens !default;
@mixin dd-extra-style() {}